.page-hero {
    padding: 25px 40px;
    font-size: 1.429rem;
}

.insert-job {
    padding: 10px;
    display: flex;
    flex-direction: column;
    text-align: left;
}
.job__basic-info label {
    display: inline-flex;
    width: 135px;
}

.job__basic-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-radius: 10px;
    border: 2px solid #18a0fb;
    padding: 5px;
}

.job-form__title {
    margin: 0 auto;
    font-size: 1.1rem;
    padding: 20px 0px;
}

.job-form__title:after {
    content: "";
    display: flex;
    margin: 0 auto;
    width: 50%;
    padding-top: 8px;
    border-bottom: 2px solid #18a0fb;
}

.control {
    display: flex;
    padding-bottom: 10px;
    align-items: center;
}

.control,
fieldset {
    margin: 6px 0;
}

.remote-job {
    font-size: 1rem;
    margin-bottom: 40px;
}

.control input {
    width: 90%;
}

.published-type,
.published-contract {
    font-size: 1rem;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
}

.job__detailed-info {
    font-size: 1rem;
    padding: 10px;
    text-align: left;
    border-radius: 10px;
    border: 2px solid #18a0fb;
}
.job__detailed-info label {
    display: inline-flex;
    padding: 15px 0px;
}

.insertjob-btn {
    margin-top: 20px;
    width: 200px;
    align-self: center;
    border-radius: 10px;
    background-color: #18a0fb;
    color: #fff;
    height: 3em;
}
/*too verbose, to be put inside a separate css module */
.job__basic-info input[type="checkbox"] {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    vertical-align: middle;
    outline: none;
    font-size: inherit;
    width: 1.5em;
    height: 1.5em;
    background: white;
    border-radius: 20%;
    border: 0.125em solid #555;
    position: relative;
}

.job__basic-info input[type="checkbox"] + label {
    cursor: pointer;
}

.job__basic-info input[type="checkbox"]:checked {
    background: #18a0fb;
}

.job__basic-info input[type="checkbox"]:checked:after {
    content: "✔";
    color: white;
    position: absolute;
    font-size: 150%;
    left: 0.0625em;
    top: -0.25em;
}
.terms-conditions {
    margin: 15px 0px 5px 5px;
}

@media only screen and (min-width: 48em) {
    .job-form__title {
        padding: 40px 0px;
    }
    .job__basic-info {
        margin-left: 5%;
        margin-right: 5%;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .job__detailed-info {
        margin-left: 5%;
        margin-right: 5%;
        display: flex;
    }

    .job__select-form {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .info__short-desc {
        flex: 1;
        margin-right: 5%;
    }
    .info__long-desc {
        flex: 1;
    }

    .job__control-form {
        text-align: left;
    }
    .insertjob-btn {
        height: 3.5em;
    }
    .terms-conditions {
        text-align: center;
    }
}

@media only screen and (min-width: 68.75em) {
    .control {
        display: flex;
        flex-direction: column;
    }
    .job__basic-info {
        flex-direction: column;
    }
    .job__basic-info label {
        width: auto;
    }
    .job__control-form {
        display: flex;
        justify-content: flex-start;
        flex: 1;
        align-items: baseline;
    }

    .remote-job {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #remote-job {
        margin-top: 6px;
    }

    .job__select-form {
        display: flex;
        flex-direction: row;
        align-items: baseline;
    }

    .published-type,
    .published-contract {
        flex-direction: column;
        margin: 0px 6px;
    }
}
