.page-hero {
    padding: 25px 40px;
    font-size: 1.429rem;
}

.insert-job {
    padding: 10px;
    border: 1px solid green;
}

.job__basic-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.control {
    display: flex;
    align-self: flex-start;
    padding-bottom: 10px;
}

.control,
fieldset {
    margin: 6px 0;
}

.remote-job {
    align-self: center;
}

.control input {
    width: auto;
}
.control label {
    width: 140px;
    display: inline-flex;
}
