.work-preview--empty {
    display: none;
}

.filters__header {
    font-size: 1.714rem;
}

.filters {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #18a0fb;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    font-size: 0.8571rem;
}

.filters-checkbox {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}
.remote-job,
.direct-job,
.active-job {
    padding: 10px 0px;
}

.filters_selects {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.published-date,
.published-location,
.published-contract {
    padding: 10px 0px;
}

.filters_selects label {
    width: 140px;
    display: inline-flex;
    padding-top: 5px;
}

.filters input[type="checkbox"] {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    vertical-align: middle;
    outline: none;
    font-size: inherit;
    width: 1.5em;
    height: 1.5em;
    background: white;
    border-radius: 20%;
    border: 0.125em solid #555;
    position: relative;
}

.filters input[type="checkbox"] + label {
    cursor: pointer;
}

.filters input[type="checkbox"]:checked {
    background: #18a0fb;
}

.filters input[type="checkbox"]:checked:after {
    content: "✔";
    color: white;
    position: absolute;
    font-size: 150%;
    left: 0.0625em;
    top: -0.25em;
}

.job-listings {
    display: flex;
    flex-direction: column;
}

.job-listing {
    font-size: 0.8571rem;
    cursor: pointer;
    border-radius: 5% 10% 10% 5%;
    height: 215px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 20px 5px 20px;
    margin-bottom: 20px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.job-listing__header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.job-listing__title {
    font-size: 1.143rem;
}

.job-listing__location {
    margin-right: 15%;
}

.job-listing__favorite {
    font-size: 20px;
}
.is-red {
    color: red;
}
.job-main-info {
    display: flex;
    width: 100%;
}

.job-company-info {
    display: flex;
    justify-content: center;
}

.job-company-info__logo {
    margin-right: 6px;
}

.job-listing__company {
    font-variant: small-caps;
}

.job-listing__description {
    display: inline-flex;
    align-items: center;
    flex: 1;
    text-align: left;
    font-style: italic;
    font-size: 0.8571rem;
}

.job-listing__footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
}
.job-listing__verified {
    font-size: 20px;
    color: green;
}

.work-preview {
    display: none;
}

.info__main {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}

.info__description {
    text-align: justify;
    padding: 15px;
}

.info__description ol {
    padding-left: 5px;
}

.info__description li {
    padding-bottom: 4px;
}

.info__task {
    padding: 10px;
    font-weight: 600;
}

.modal-card-foot {
    display: flex;
    justify-content: center;
}

.btn-apply {
    background-color: #ffa500;
    color: #f2f2f2;
    padding: 25px;
}

@media only screen and (min-width: 48em) {
    .search__what,
    .search__where,
    .search__search-btn {
        height: 2em;
    }

    .job-filters {
        grid-column: 2/12;
    }

    .job-search-content {
        grid-column: 1/13;
        display: grid;
        grid-template-columns: 0.2fr 1fr 1fr 1fr 0.1fr 1fr 1fr 1fr 0.2fr;
    }

    .filters {
        flex-direction: row;
        justify-content: space-evenly;
    }

    .remote-job,
    .direct-job,
    .active-job {
        padding: 20px 0px;
    }

    .filters_selects {
        flex-direction: column;
    }

    .published-date,
    .published-location,
    .published-contract {
        display: flex;
        flex-direction: column;
        padding-right: 10%;
    }

    .job-listings {
        grid-column: 2/5;
        display: flex;
        flex-direction: column;
    }

    .job-listing {
        cursor: pointer;
        border-radius: 5% 10% 10% 5%;
        height: 225px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 10px 10px 0px 20px;
        font-size: 1rem;

        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    }

    .job-listing:hover {
        background-color: #f2f2f2;
    }

    .job-listing__header {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }

    .job-listing__title {
        font-size: 1.429rem;
    }

    .job-listing__favorite {
        font-size: 20px;
    }
    .job-listing__favorite:hover {
        color: red;
    }

    .job-main-info {
        display: flex;
    }

    .job-company-info {
        display: flex;
    }

    .job-listing__description {
        text-align: left;
        font-style: italic;
        font-size: 0.8571rem;
    }

    .job-listing__footer {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 10px;
    }
    .job-listing__verified {
        font-size: 25px;
        color: green;
    }

    .work-preview {
        grid-column: 6/9;
        display: flex;
        flex-direction: column;
        justify-content: center;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        border-radius: 10px;
        padding: 25px;
    }
    .job-details__title {
        font-size: 1.4rem;
    }

    .work-preview {
        font-size: 0.8571rem;
    }

    .work-preview__arrow {
        font-size: 10em;
        color: #18a0fb;
    }
    .info__main {
        padding: 20px 20px;
    }
}
@media only screen and (min-width: 68.75em) {
    .jobpost__link {
        font-size: 2.143rem;
    }
    .filters_selects {
        flex-direction: row;
    }
    .filters-checkbox {
        flex-direction: row;
    }
    .remote-job,
    .direct-job,
    .active-job {
        padding: 20px 20px;
    }
    .work-preview {
        font-size: 1rem;
    }
}
