.page-hero {
    padding: 25px 40px;
    font-size: 1.429rem;
}

.features__heading {
    font-size: 1.286rem;
    color: #fff;
    padding-top: 15px;
    padding-left: 30px;
    padding-right: 30px;
}

.features-container {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    padding: 0px 25px;
    background-image: url(../images/wave2.svg);
    background-size: cover;
    background-size: 250%;
    background-repeat: no-repeat;
}

.features-header:after {
    content: "";
    display: flex;
    margin: 0 auto;
    width: 30%;
    padding-top: 8px;
    border-bottom: 2px solid #18a0fb;
}

.features-header__figure {
    padding: 15px;
}

.features-header__image {
    width: 65px;
    height: 65px;
}

.features-header__title {
    font-size: 1.143rem;
    font-weight: 500;
}

.features__paragraph {
    font-size: 0.8571rem;
    line-height: 150%;
    text-align: justify;
    padding: 5px 0px;
}

@media only screen and (min-width: 48em) {
    .page-hero {
        grid-column: 4/10;
        font-size: 2.429rem;
        margin: 0 auto;
        padding-top: 25px;
        padding-bottom: 50px;
    }

    .recent-searches {
        grid-column: 5/9;
        line-height: 2;
        padding: 10px 0px;
    }
    .features-container {
        grid-column: 1/13;
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        background-size: auto;
        background-size: 100%;
    }
    .features-container :nth-child(2) {
        grid-column: 1/5;
    }
    .features-container :nth-child(3) {
        grid-column: 5/9;
    }
    .features-container :nth-child(4) {
        grid-column: 1/5;
    }
    .features-container :nth-child(5) {
        grid-column: 5/9;
    }

    .features__heading {
        grid-column: 1/9;
        font-size: 2.143rem;
        padding: 50px 0px;
    }
    .features__feature {
        margin: 0em 2em;
    }
    .features-header {
        padding-bottom: 25px;
    }
    .features-header__image {
        width: 80px;
        height: 80px;
    }

    .features-header__title {
        font-size: 1.429rem;
    }

    .features__paragraph {
        font-size: 1.143rem;
    }
}

@media only screen and (min-width: 68.75em) {
    .page-hero {
        font-size: 2.857rem;
        margin: 0 auto;
        padding-top: 25px;
        padding-bottom: 50px;
    }

    .features-container {
        gap: 25px;
    }
    .features__feature {
        margin: 0em 3.5em;
    }
    .features-header__image {
        width: 120px;
        height: 120px;
    }

    .features-header__title {
        font-size: 1.714rem;
    }

    .features__paragraph {
        font-size: 1.286rem;
    }
}
